<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Zeiterfassung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Zeiterfassung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	
 <userSettings>
  <Zeiterfassung.Properties.Settings>
   <setting name="LastSyncSuccess" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TablePath" serializeAs="String">
    <value />
   </setting>
   <setting name="LastSync" serializeAs="String">
    <value />
   </setting>
   <setting name="syncmode" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ProgramPathUser" serializeAs="String">
    <value />
   </setting>
   <setting name="EnableScaling" serializeAs="String">
    <value>True</value>
   </setting>
  </Zeiterfassung.Properties.Settings>
 </userSettings>
 <applicationSettings>
  <Zeiterfassung.Properties.Settings>
   <setting name="TargetFolderPath" serializeAs="String">
    <value>C:\temp</value>
   </setting>
   <setting name="SupportEmail" serializeAs="String">
    <value>christoph.beyer@schindler.com</value>
   </setting>
   <setting name="ViewFilePath" serializeAs="String">
    <value>C:\temp\short</value>
   </setting>
   <setting name="RetrieveHoursFromExcel" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ProgramPath" serializeAs="String">
    <value>C:\Program Files\Microsoft Office\root\Office16\EXCEL.EXE</value>
   </setting>
   <setting name="ForcedSyncClosing" serializeAs="String">
    <value>0</value>
   </setting>
  </Zeiterfassung.Properties.Settings>
 </applicationSettings>
</configuration>